<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
    body {
    background: #dedede;
    }
    .page-wrap {
    min-height: 100vh;
    }
    #RemoveListnumber {
    list-style: none;
    }
    </style>
  </head>
  <body>
    <section class="section">

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">Oh, something is wrong!</span>
                <div class="mb-4 lead"><strong>Possibly:</strong>
                <ol id="RemoveListnumber">
                  <li>A null value passed.</li>
                  <li>Check Contact number.</li>
                  <li>A wrong endpoint.</li>
                  <li>An unsupported image extension (only use jpg, png, bmp).</li>
                  <li>An image name that is too long or has invalid characters.</li>
                </ol>
                </div>
                <a href="/" class="btn btn-link"><b>Back to Home<b></a>
            </div>
        </div>
    </div>
</div>

</section>
  </body>
</html>
